@use "../abstracts/variables" as *;

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px
}

body { 
    font-family: 'Montserrat', sans-serif;
    font-size: map-get($font-sizes, "md");
    line-height: 1.5;
    color: map-get($colours, "light");
    background-color: map-get($colours, "dark");
    min-height: 100vh;
}

img, svg, picture, video {
    max-width: 100%;
    height: auto;
}

a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

button, select {
    cursor: pointer;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

input, textarea, select {
    outline: none;
    border: none;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: rgba(map-get($colours, "light"), .1); 
    border-radius: 100rem;

}

::-webkit-scrollbar-thumb {
    background: rgba(map-get($colours, "light"), .5); 
    transition: all .17s ease;
    border-radius: 100rem;

}

::-webkit-scrollbar-thumb:hover {
    background: rgba(map-get($colours, "light"), .4); 
}

.main {
    padding: 5rem 3.9rem 6.6rem;
    min-height: calc(100vh - map-get($sizes, "navbar-height"));
    grid-column: 4 / -1;
}