$colours: (
    "primary": #EDA339,
    "secondary": #DE8270,
    "tertiary": #CF60A6,
    "quaternary": #B74EC1,
    "quinary": #8848C6,

    "light": #E6E6E6,
    "dark": #171717,

    "grey-100": #ACAAA7,
    "grey-200": #605B56,
    "grey-300": #605B56,
    "grey-400": #323232,
    "grey-500": #343434,
    "grey-600": #1D1D1D
);

$font-sizes: (
    "xs": 1.2rem,
    "sm": 1.4rem,
    "md": 1.6rem,
    "lg": 1.8rem,
    "xl": 2rem,
    "xxl": 2.4rem,
    "xxxl": 3rem
);

$spacings: (
    "xs": 0.4rem,
    "sm": 0.8rem,
    "md": 1rem,
    "lg": 1.6rem,
    "xl": 2rem,
    "xxl": 2.4rem,
    "xxxl": 3.2rem,
    "xxxxl": 4rem,
    "hg": 4.8rem
);

$font-weights: (
    "light": 300,
    "regular": 400,
    "medium": 500,
    "bold": 700
);

$sizes: (
    "navbar-height": 8.4rem,
);

$breakpoints: (
    
);

$shadows: (

);
